.android/
.cache/
.cargo/
.config/**
!.config/neofetch/
!.config/pipewire/
!.config/asound.state
!.config/conky-manager2.json
.firedragon/
.fonts/
.Genymobile/
.gnome/
.gnupg/
.gsutil/
.hex/
.hplip/
.icons/
.java/
.kde4/
.local/
.minecraft/
.mix/
.mono/
.mozilla/
.mputils/
.npm/
.nv/
.nvm/
.paradoxlauncher/
.parallel/
.pki/
.rustup/
.ssh/
.steam/
.vpython_cipd_cache/
.vpython-root/
.vscode/
.w3m/
.wine/
.xdman/
.yarn/
Área\ de\ trabalho/
Applications/
Documentos/
Downloads/
Games/
go/
Imagens/
Modelos/
Música/
Network/
Público/
repos/
sign/
snap/
teste/
Vídeos/
.bash_history
.bash_logout
.gksu.lock
.gtkrc-2.0
.lesshst
.profile.bkp
.wget-hsts
.Xauthority
.xdm-global-lock
.zcompdump
.zeroTierOneAuthToken
.zhistory
.steampath
.steampid
!.gitkeep